.wrapper {
  display: flex;
  flex-wrap: wrap;
  background-color: #f276b4;
  color: white;
  padding: 48px 24px;
  align-items: center;
  justify-content: center;
  gap: 32px;
}

.left {
  flex: 1;
  min-width: 300px;
  max-width: 500px;
}

.left h2 {
  font-size: 2rem;
  font-weight: bold;
  color: #eee;
  margin: 0;
}

.left h1 {
  font-size: 3rem;
  font-weight: bold;
  color: white;
  margin: 0 0 16px 0;
}

.left p {
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 24px;
}

.button {
  padding: 10px 24px;
  background: linear-gradient(to right, #bd0c84, #f44eb2);
  border: none;
  border-radius: 20px;
  color: white;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s ease;
}

.button:hover {
  background: linear-gradient(to right, #a4096d, #db3c9c);
}

.right {
  flex: 1;
  min-width: 320px;
  max-width: 700px;
}

.imageWrapper {
  border-radius: 12px;
  overflow: hidden;
  transition: all 0.4s ease-in-out;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

.mainImage {
  width: 640px;
  height: 360px;
  object-fit: fill;
  border-radius: 12px;
  opacity: 0;
  animation: fadeIn 0.6s ease forwards;

}

.thumbnailRow {
  display: flex;
  gap: 12px;
  padding: 16px;
  background-color: #f8d2e4;
  border-radius: 20px;
  margin-top: 20px;
  overflow-x: auto;
}
.mainImageWrapper {
  position: relative;
  width: 100%;
  max-width: 700px;
  aspect-ratio: 16 / 9;
  overflow: hidden;
}

.thumb {
  border: none;
  padding: 0;
  border-radius: 10px;
  overflow: hidden;
  opacity: 0.6;
  transition: opacity 0.3s;
  cursor: pointer;
  background: none;
}

.thumb:hover,
.thumb.active {
  opacity: 1;
  box-shadow: 0 0 0 3px #f276b4;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

@media (max-width: 768px) {
  .wrapper {
    flex-direction: column;
    text-align: center;
  }

  .thumbnailRow {
    justify-content: center;
  }
}
