.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    width: 1440px;
    /* height: 200px; */
    background-color: white;
    border-radius: 50px;
    /* padding: -30px; */
    
    margin: 30px auto;
    /* margin-bottom: 20px; */
}
.title{
    padding: 10px;
    color: black;
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
    /* justify-content: center;
    align-items: center; */
}

 .list{
    color: black;
    display: flex;
    gap: 50px;
}
.item{
    /* justify-content: center; */
    /* display: flex; */
    /* align-items: center; */
    /* gap: 20px; */
    
}
.list .item img{
    width: 80px;
    /* justify-content: center; */
    align-items: center;
    
}
